<template name="mode">
  <!-- test for mode widget  -->
  {{ #if $eq wMode "autonomous"}}  {{ >autonomous }}  {{ /if }}
  {{ #if $eq wMode "autoMan"}}  {{ >autoMan }}  {{ /if }}
  {{ #if $eq wMode "manual"}}  {{ >manual }}  {{ /if }}

  <!-- display the different widgets -->
  {{ #if wYoutubeActive }}  {{ >youtube }}   {{ /if }}
  {{ #if wNavigationActive }}  {{ >navigation }}  {{ /if }}
  {{ #if wSpeedActive }}  {{ >speed }}  {{ /if }}
  {{ #if wWindowActive }}  {{ >roadWindow }}  {{ /if }}
  {{ #if wAAvailable }}  {{ >autoAvailable }}  {{ /if }}

</template>
