<template name="navigation">

  <div id="w-navigation" class="ui widget {{ wNDirection }}">
    <i class="ui icon w-n-left left chevron"></i>
    <i class="ui icon w-n-right right chevron"></i>
    <i class="ui icon w-n-front up chevron"></i>
  </div>

</template>
