<template name="controls">
	<section id="controls" class="ui form container segment">

		<h2 class="ui header">
			<i class="grid layout icon"></i>
			<div class="content">
				Controls
				<div class="sub header">Here is the place to control the interface.</div>
			</div>
		</h2>

		<div class="ui two column stackable grid">
			<div id="controller" class="ui column">
				<h3 class="ui dividing header">Footage</h3>

				<div class="ui attached segments">

					<div id="scenario-id" class="ui segment">
						<div class="ui fluid inline field selection dropdown">
							<label>Scenario</label>
							<input type="hidden" name="scenario">
							<i class="dropdown icon"></i>
							<div class="default text">Scenarios</div>
							<div class="menu">
								{{#each scenarios}}
								<div class="item" data-value="{{ index }}">{{ name }}</div>
								{{/each}}
							</div>
						</div>
					</div>

<!-- 					<div class="ui segment">

						<div class="ui fluid right labeled input">
							<input name="goTo" type="text" placeholder=0>
							<div class="ui basic label">seconds</div>
						</div>
						<button id="goTo" class="ui fluid positive button">
							go
						</button>
					</div> -->

					<div class="ui segment">
						<div class="ui fluid basic buttons">
							<button id="restart-footage" class="ui compact icon button">
								<i class="retweet icon"></i> Restart footage
							</button>

							<button id="toggle-footage" class="ui compact icon button">
								{{{ footageStatus }}} footage
							</button>
						</div>
					</div>


				</div>

			</div>

			<div id="manager" class="ui column">
				<h3 class="ui dividing header">
					Scenario manager
				</h3>

				<div class="ui fluid buttons">
					<button id="add-led" class="ui yellow basic icon button">
						<i class="idea icon"></i>
						add led event
					</button>
					<button id="add-street" class="ui blue basic icon button">
						<i class="home icon"></i>
						add street event
					</button>
				</div>

				{{#each events}}

				{{> eventEdit}}

				{{/each}}
			</div>
		</div>
	</section>
</template>
