<template name="controller">
  {{>frontFootage}}
  <section id="controller" class="ui form small container segment">
    <h2 class="ui header">
      <i class="options icon"></i>
      <div class="content">
        Controller
        <div class="sub header">Here is the place to control the prototype</div>
      </div>
    </h2>
    <h3 class="ui dividing header">Footage</h3>

    <div class="ui segments">

        <div class="ui segment">
          <div class="ui inline fluid field selection dropdown">
            <label>Pick the scenario</label>
            <input type="hidden" name="fScenario">
            <i class="dropdown icon"></i>
            <div class="default text">Scenario</div>
            <div class="menu">
              <div class="item" data-value="1">Parking</div>
              <div class="item" data-value="2">City</div>
              <div class="item" data-value="3">Highway</div>
              <div class="item" data-value="4">Maneuver</div>
            </div>
          </div>
        </div>

      <div class="ui horizontal segments">
        <div class="ui segment">
          <button class="ui compact icon button">
            <i class="retweet icon"></i>
          </button>

          <button class="ui compact icon button">
            <i class="pause icon"></i>
          </button>
        </div>

        <div class="ui segment">

          <button class="ui labeled compact icon button">
            <i class="refresh icon"></i>
            Synchronise
          </button>
        </div>
      </div>

    </div>

  </section>
</template>
