<template name="eventEdit">

	{{#if $eq this.type "led"}}
	{{> ledEvent}}
	{{/if}}
	{{#if $eq this.type "street"}}
	{{> streetEvent}}
	{{/if}}
</template>

<template name="streetEvent">
	<div class="ui horizontal segments">
		<div class="ui blue segment">
			<i class="ui icon home"></i>
		</div>

		<form class="ui blue segment">
			<div class="inline hidden field">
				<label>Type</label>
				<input type="text" name="type" value="{{type}}">
			</div>
			<div class="inline hidden field">
				<label>Scenario</label>
				<input type="text" name="scenarioId" value="{{scenarioId}}">
			</div>
			<div class="inline field">
				<label>Street Name</label>
				<input type="text" name="name" value="{{name}}" placeholder="main street">
			</div>
			<div class="inline field">
				<label>Map Image File</label>
				<input type="text" name="filename" value="{{filename}}" placeholder="main.jpg">
			</div>
			<div class="inline field">
				<label>Arrival Time (seconds)</label>
				<input type="number" name="arriveTime" value="{{arriveTime}}" placeholder=0>
			</div>
			<div class="ui buttons">
				<input type="submit" value="Save" class="ui button positive submit"/>
				<a class="ui button negative delete" href="#">Delete</a>
			</div>
		</form>
	</div>
</template>

<template name="ledEvent">
	<div class="ui horizontal segments">
		<div class="ui yellow segment">
			<i class="ui icon idea"></i>
		</div>

		<form class="ui yellow segment">
			<div class="inline hidden field">
				<label>Type</label>
				<input type="text" name="type" value="{{type}}">
			</div>
			<div class="inline hidden field">
				<label>Scenario</label>
				<input type="text" name="scenarioId" value="{{scenarioId}}">
			</div>

			<div class="ui fluid inline field selection dropdown">
				<label>Color</label>
				<input type="hidden" name="color">
				<i class="dropdown icon"></i>
				<div class="default text">red</div>
				<div class="menu">
					<div class="item" data-value=0>red</div>
					<div class="item" data-value=1>orange</div>
					<div class="item" data-value=2>green</div>
					<div class="item" data-value=3>white</div>
				</div>
			</div>

			<div class="ui fluid inline field selection dropdown">
				<label>Animation</label>
				<input type="hidden" name="animation">
				<i class="dropdown icon"></i>
				<div class="default text">steady</div>
				<div class="menu">
					<div class="item" data-value=1>runner</div>
					<div class="item" data-value=2>fade</div>
					<div class="item" data-value=3>cascade</div>
					<div class="item" data-value=4>flash</div>
					<div class="item" data-value=5>steady</div>
				</div>
			</div>

			<div class="ui fluid inline field selection dropdown">
				<label>Zone</label>
				<input type="hidden" name="zone">
				<i class="dropdown icon"></i>
				<div class="default text">1</div>
				<div class="menu">
					<div class="item" data-value=0>all</div>
					<div class="item" data-value=1>top left</div>
					<div class="item" data-value=2>mid left</div>
					<div class="item" data-value=3>bottom left</div>
					<div class="item" data-value=4>middle left</div>
					<div class="item" data-value=5>middle right</div>
					<div class="item" data-value=6>bottom right</div>
					<div class="item" data-value=7>mid right</div>
					<div class="item" data-value=8>top right</div>
					<div class="item" data-value=9>left mirror</div>
					<div class="item" data-value=10>rear mirror</div>
					<div class="item" data-value=11>right mirror</div>
				</div>
			</div>

			<div class="fluid field">
				<label>Arrival Time(seconds)</label>
				<input type="number" name="arriveTime" value="{{arriveTime}}" placeholder=0>
			</div>
			<div class="fluid  field">
				<label>Duration (seconds)</label>
				<input type="number" name="duration" value="{{duration}}" placeholder=100>
			</div>

			<div class="ui fluid buttons">
				<input type="submit" value="Save" class="ui button positive submit"/>
				<a class="ui button negative delete" href="#">Delete</a>
			</div>
		</form>
	</div>
</template>
