<template name="eventSubmit">
    <form>
        <div class="ui horizontal segments">
            <h4 class="ui segment header">New Street Sign</h4>
            <div class="ui basic right aligned segment">
                <div class="inline field">
                    <div class="ui toggle checkbox">
                        <!-- TODO: Checked !-->
                        <input name="active" type="checkbox" tabindex="0" class="hidden">
                    </div>
                </div>
            </div>
        </div>
        <div class="ui segment">
            <div class="inline field">
                <label>Street Name</label>
                <input type="text" name="name" placeholder="main street">
            </div>
            <div class="inline field">
                <label>Map Image File</label>
                <input type="text" name="filename" placeholder="main.jpg">
            </div>
            <div class="inline field">
                <label>Arrival Time(miliseconds)</label>
                <input type="text" name="arriveTime" placeholder="12500">
            </div>
            <input type="submit" value="Submit" class="btn btn-primary submit"/>
        </div>
    </form>
</template>
