<template name="eMirrors">
    {{ >filters }}
    <div id="e-mirrors" class="{{ wEmirrorsDisplay }} {{ wEmirrorsActive }}">
        {{>leftFootage}}
        {{>rearFootage}}
        {{>rightFootage}}
    </div>
</template>
