#e-mirrors{
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    &.inactive{
        opacity: 0.5;
    }
    .e-mirror{
        position: relative;
        height: 100%;
        width: 25%;
        display: block;
        >div, >img, >video {
            position: absolute;
            height: 100%;
            width: 100%;
            transform: rotateY(0deg);
        }
    }
    #rear-footage{
        width: 50%;
        >div, >img, >video {
            transform: rotateY(0deg);
        }
    }
    &.wE-sides{

        justify-content: space-between;
        #rear-footage{
            display: none;
        }
        #left-footage, #right-footage{
            width: 45%;
        }
    }
    &.wE-central{
        #left-footage, #right-footage{
            display: none;
        }
    }
}
