<template name="frontFootage">
  <div id="front-footage" class="{{ route }}">
    {{{ footageScenario }}}
    <!-- <img src="/img/driving-footage.png"> -->
  </div>
</template>

<template name="rearFootage">
  <div id="rear-footage" class="e-mirror">
    {{{ footageScenario }}}
    <!-- <img src="/img/driving-footage.png"> -->
  </div>
</template>

<template name="leftFootage">
  <div id="left-footage" class="e-mirror">
    {{{ footageScenario }}}
    <!-- <img src="/img/driving-footage.png"> -->
  </div>
</template>

<template name="rightFootage">
  <div id="right-footage" class="e-mirror">
    {{{ footageScenario }}}
    <!-- <img src="/img/driving-footage.png"> -->
  </div>
</template>
