@import (reference) url("mixins.less");

body{
  background: @black;
  header{
    nav.ui.vertical.icon.menu{
      display: flex;
      justify-content: center;
      height: 100%;
    }
  }





  main{
    #top-bar{
      &.hover{
        opacity: 1;
      }
      opacity: 0;
      position: fixed;
      top: 0;
      z-index: 20;
      padding: 1rem;
      height: 4rem;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      #menu-toggle{
        line-height: 2rem;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 50%;
        height: 2rem;
        width: 2rem;
      }
      #login-dropdown{
        line-height: 2rem;
      }
    }
  }
  #controls{
    transition: all 0.2s ease-in-out;

    position: absolute;
    top: 0;
    height: 2px;
    width: 100%;
    z-index: 500;
    overflow: hidden;
    // opacity: 0.1 !important;
    padding: 2px;
      #controller{
        margin-top: 2rem; 
      }
      #manager{
        margin-top: 2rem; 
        display: none;
      }
    &:hover{
      height: 100vh;
      opacity: 1 !important;
      #manager{
        display: block;
      }
    }

    #controller{
      display: flex;
      flex-direction: row;
      flex-wrap: no-wrap;
      .selection.dropdown{
        margin-bottom: 0;
        width: 50%;
      }
    }
    #eventsManager{
      height: 50vh;
      overflow-y: scroll;
    }
  }
  #frontDisplay{
    position: absolute;
    height: 65vh;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }
  #dashboard{
    background: @black;
    height: 35vh;
    width: 40vW;
    position: fixed;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 0;
  }
  #left-footage{
    height: 35vh;
    width: 30vw;
    position: fixed;
    left: 0;
    bottom: 0; 
  }
  #right-footage{
    height: 35vh;
    width: 30vw;
    position: fixed;
    right: 0;
    bottom: 0; 
  }
}

#pos{
  z-index: 500;
  position: fixed;
  margin-top: -0.5rem;
  margin-left: -0.5rem;
  width: 1rem;
  height: 1rem;
  background: red;
  top: 0;
  left: 0;
  transition: linear 25ms;
}