@import (reference) url("mixins.less");

body{
  header{
    nav.ui.vertical.icon.menu{
      display: flex;
      justify-content: center;
      height: 100%;
    }
  }

  main{
    #top-bar{
      position: fixed;
      top: 0;
      z-index: 20;
      padding: 1rem;
      height: 4rem;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      #menu-toggle{
        line-height: 2rem;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 50%;
        height: 2rem;
        width: 2rem;
      }
      #login-dropdown{
        line-height: 2rem;
      }
    }
  }
  #settings, #controller{
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
  }
  #dashboard{
    background: @black;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
  }
}
