<template name="mode">
  <!-- test for mode widget  -->
  {{ #if $eq wMode "autonomous"}}  {{ >autonomous }}  {{ /if }}
  {{ #if $eq wMode "autoMan"}}  {{ >autoMan }}  {{ /if }}
  {{ #if $eq wMode "manual"}}  {{ >manual }}  {{ /if }}

  <!-- display the different widgets -->
  {{ #if wYoutube }}  {{ >youtube }}   {{ /if }}
  {{ #if wNavigation }}  {{ >navigation }}  {{ /if }}
  {{ #if wCSpeed }}  {{ >speed }}  {{ /if }}
  {{ #if wRoadWindow }}  {{ >roadWindow }}  {{ /if }}
  {{ #if wAAvailable }}  {{ >autoAvailable }}  {{ /if }}

</template>
