<template name="widgets">
    <section id="widgets" class="ui form container segment">

        <h2 class="ui header">
            <i class="grid layout icon"></i>
            <div class="content">
                Widgets
                <div class="sub header">Here is the place set the widgets.</div>
            </div>
        </h2>

        <div class="ui three column stackable grid">

            <div class="ui column">
                <h3 class="ui dividing header">Omniscient</h3>

                <div class="ui segments">
                    <div class="ui horizontal segments">
                        <h4 class="ui segment header">E-mirrors</h4>
                        <div class="ui basic right aligned segment">
                            <div class="inline field">
                                <div class="ui toggle checkbox">
                                    <input name="wEmirrorsActive" type="checkbox" tabindex="0" class="hidden">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment">
                        <div class="ui inline fluid field selection dropdown">
                            <label>Display</label>
                            <input type="hidden" name="wEmirrorsDisplay">
                            <i class="dropdown icon"></i>
                            <div class="default text">All mirrors</div>
                            <div class="menu">
                                <div class="item" data-value="wE-sides">Side mirrors</div>
                                <div class="item" data-value="wE-central">Central mirror</div>
                                <div class="item" data-value="wE-all">All mirrors</div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="ui segments">
                    <div class="ui horizontal segments">
                        <h4 class="ui segment header">TopView</h4>
                        <div class="ui basic right aligned segment">
                            <div class="inline field">
                                <div class="ui toggle checkbox">
                                    <input name="wTopViewActive" type="checkbox" tabindex="0" class="hidden">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
            <div class="ui column">
                <h3 class="ui dividing header">Windvision</h3>

                <div class="ui segments">
                    <div class="ui horizontal segments">
                        <h4 class="ui segment header">Send voice message</h4>
                        <div class="ui basic right aligned segment">
                            <div class="inline field">
                                <div class="ui button send-message">
                                    Send
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment">
                        <div class="inline field">
                            <label>Message</label>
                            <input type="text" id="send-message-content" name="wVoiceMessage" placeholder="Brake">
                        </div>
                    </div>
                </div>

                <div class="ui segments">
                    <div class="ui horizontal segments">
                        <h4 class="ui segment header">Speed</h4>
                        <div class="ui basic right aligned segment">
                            <div class="inline field">
                                <div class="ui toggle checkbox">
                                    <input name="wSpeedActive" type="checkbox" tabindex="0" class="hidden">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui segments">
                    <div class="ui horizontal segments">
                        <h4 class="ui segment header">Street name</h4>
                        <div class="ui basic right aligned segment">
                            <div class="inline field">
                                <div class="ui toggle checkbox">
                                    <input name="wStreetActive" type="checkbox" tabindex="0" class="hidden">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment">
                        <div class="inline field">
                            <label>Street</label>
                            <input type="text" name="wStreetName" placeholder="main street">
                        </div>
                        <div class="inline field">
                            <label>Distance</label>
                            <input type="text" name="wDistance" placeholder="500m">
                        </div>
                    </div>
                </div>

                <div class="ui segments">
                    <div class="ui horizontal segments">
                        <h4 class="ui segment header">Alerts</h4>
                        <div class="ui basic right aligned segment">
                            <div class="inline field">
                                <div class="ui toggle checkbox">
                                    <input name="wAlertActive" type="checkbox" tabindex="0" class="hidden">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment">
                        <div class="inline field">
                            <label>Message</label>
                            <input type="text" name="wAlertMessage" placeholder="Brake">
                        </div>
                    </div>
                </div>

            </div>

            <div class="ui column">
                <h3 class="ui dividing header">Controls</h3>
            </div>

        </div>

    </section>
</template>
