<template name="widgets">
  <section id="widgets" class="ui form container segment">

    <h2 class="ui header">
      <i class="grid layout icon"></i>
      <div class="content">
        Widgets
        <div class="sub header">Here is the place set the widgets.</div>
      </div>
    </h2>

    <div class="ui three column stackable grid">

      <div class="ui column">
        <h3 class="ui dividing header">Omniscient</h3>

        <div class="ui segments">
          <div class="ui horizontal segments">
            <h4 class="ui segment header">E-mirrors</h4>
            <div class="ui basic right aligned segment">
              <div class="inline field">
                <div class="ui toggle checkbox">
                  <input name="wEmirrorsActive" type="checkbox" tabindex="0" class="hidden">
                </div>
              </div>
            </div>
          </div>
          <div class="ui segment">
            <div class="ui inline fluid field selection dropdown">
              <label>Display</label>
              <input type="hidden" name="wEmirrorsDisplay">
              <i class="dropdown icon"></i>
              <div class="default text">All mirrors</div>
              <div class="menu">
                <div class="item" data-value="wE-sides">Side mirrors</div>
                <div class="item" data-value="wE-central">Central mirror</div>
                <div class="item" data-value="wE-all">All mirrors</div>
              </div>
            </div>
          </div>
        </div>

        <div class="ui segments">
          <div class="ui horizontal segments">
            <h4 class="ui segment header">HoodView</h4>
            <div class="ui basic right aligned segment">
              <div class="inline field">
                <div class="ui toggle checkbox">
                  <input name="wHoodViewActive" type="checkbox" tabindex="0" class="hidden">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="ui segments">
          <div class="ui horizontal segments">
            <h4 class="ui segment header">TopView</h4>
            <div class="ui basic right aligned segment">
              <div class="inline field">
                <div class="ui toggle checkbox">
                  <input name="wTopViewActive" type="checkbox" tabindex="0" class="hidden">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="ui column">
        <h3 class="ui dividing header">Windvision</h3>

        <div class="ui segments">
          <div class="ui horizontal segments">
            <h4 class="ui segment header">Speed</h4>
            <div class="ui basic right aligned segment">
              <div class="inline field">
                <div class="ui toggle checkbox">
                  <input name="wSpeedActive" type="checkbox" tabindex="0" class="hidden">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="ui segments">
          <div class="ui horizontal segments">
            <h4 class="ui segment header">Navigations</h4>
            <div class="ui basic right aligned segment">
              <div class="inline field">
                <div class="ui toggle checkbox">
                  <input name="wNavigationActive" type="checkbox" tabindex="0" class="hidden">
                </div>
              </div>
            </div>
          </div>
          <div class="ui segment">
            <div class="ui inline fluid field selection dropdown">
              <label>Direction</label>
              <input type="hidden" name="wNavigationDirection">
              <i class="dropdown icon"></i>
              <div class="default text">Go Left</div>
              <div class="menu">
                <div class="item" data-value="wN-left">Go Left</div>
                <div class="item" data-value="wN-right">Go Right</div>
                <div class="item" data-value="wN-front">Straight Ahead</div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="ui column">
        <h3 class="ui dividing header">Controls</h3>

        <div class="ui segments">
          <div class="ui horizontal segments">
            <h4 class="ui segment header">Voice Controls</h4>
            <div class="ui basic right aligned segment">
              <div class="inline field">
                <div class="ui toggle checkbox">
                  <input name="wVoiceControlActive" type="checkbox" tabindex="0" class="hidden">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="ui segments">
          <h4 class="ui segment header">Shortcuts</h4>
        </div>

      </div>

    </div>

  </section>
</template>
