<template name="frontFootage">
  <div id="front-footage" class="{{ route }}">
    <video id="front-footage-vid" class="video-js" controls autoplay loop preload="auto" data-setup='{}'>
    <source src="/video/DrivingFootage.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
    <source src="/video/DrivingFootage.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
  </video>
  <!-- <img src="/video/DrivingFootage.png"> -->
</div>
</template>



<template name="rearFootage">
  <div id="rear-footage" class="e-mirror">
    <!-- <video id="rear-footage-vid" class="video-js" controls autoplay loop preload="auto" data-setup='{}'>
    <source src="/video/DrivingFootage.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
    <source src="/video/DrivingFootage.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
  </video> -->
  <img src="/video/DrivingFootage.png">
</div>
</template>
<template name="leftFootage">
  <div id="left-footage" class="e-mirror">

    <!-- <video id="left-footage-vid" class="video-js" controls autoplay loop preload="auto" data-setup='{}'>
    <source src="/video/DrivingFootage.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
    <source src="/video/DrivingFootage.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
  </video> -->
  <img src="/video/DrivingFootage.png">
</div>
</template>

<template name="rightFootage">
  <div id="right-footage" class="e-mirror">

    <!-- <video id="right-footage-vid" class="video-js" controls autoplay loop preload="auto" data-setup='{}'>
    <source src="/video/DrivingFootage.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
    <source src="/video/DrivingFootage.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
  </video> -->
  <img src="/video/DrivingFootage.png">
</div>
</template>
