<template name="hud">
  <section id="hud">
  {{ >frontFootage }}
    <div id="hud-widgets">
      <!-- display the different widgets -->
      {{ #if wSpeedActive }}  {{ >speed }}  {{ /if }}
      <!-- {{ #if wNavigationActive }}  {{ >navigation }}  {{ /if }} -->
      {{ #if wAlertActive }}  {{ >contextWarning }}  {{ /if }}
      {{ #if wStreetActive }}  {{ >streetNames }}  {{ /if }}
    </div>
  </section>
</template>
