<template name="controls">
  <section id="controls" class="ui form small container segment">
    <h2 class="ui header">
      <i class="dashboard icon"></i>
      <div class="content">
        Controls
        <div class="sub header">Here is the place to control the HUD</div>
      </div>
    </h2>

    <h3 class="ui dividing header">Car mode</h3>

    <div id="s-mode" class="inline field">
      <div class="ui toggle checkbox">
        <input name="autonomous" type="checkbox" tabindex="0" class="hidden">
        <label>Autonomous mode</label>
      </div>
    </div>

    <div class="ui inline field ">
      <div class="ui right labeled fluid input">
        <label class="ui label">Delay to take controls</label>
        <input name="autoManDelay" type="text">
        <div class="ui basic label">ms</div>
      </div>
    </div>
    <h3 class="ui dividing header">Autonomous mode</h3>

    <div class="ui segments">
      <div class="ui horizontal segments">

        <h4 class="ui secondary segment header">Youtube</h4>
        <div class="ui basic right aligned segment">
          <div class="inline field">
            <div class="ui toggle checkbox">
              <input name="wYoutube" type="checkbox" tabindex="0" class="hidden">
            </div>
          </div>
        </div>
      </div>
      <div class="ui segment">
        <div class="ui inline fluid field selection dropdown">
          <label>Opacity</label>
          <input type="hidden" name="wYOpacity">
          <i class="dropdown icon"></i>
          <div class="default text">Opacity</div>
          <div class="menu">
            <div class="item" data-value="o-min">Minimum</div>
            <div class="item" data-value="o-mid">Medium</div>
            <div class="item" data-value="o-max">Maximum</div>
          </div>
        </div>
        <div class="ui inline fluid field selection dropdown">
          <label>Size</label>
          <input type="hidden" name="wYSize">
          <i class="dropdown icon"></i>
          <div class="default text">Size</div>
          <div class="menu">
            <div class="item" data-value="s-min">Small</div>
            <div class="item" data-value="s-mid">Medium</div>
            <div class="item" data-value="s-max">Large</div>
          </div>
        </div>
        <div class="ui inline fluid field selection dropdown">
          <label>Position</label>
          <input type="hidden" name="wYPosition">
          <i class="dropdown icon"></i>
          <div class="default text">Position</div>
          <div class="menu">
            <div class="item" data-value="p-left">Left</div>
            <div class="item" data-value="p-mid">Middle</div>
            <div class="item" data-value="p-right">Right</div>
          </div>
        </div>
      </div>
    </div>

    <h3 class="ui dividing header">Transition A to M</h3>

    <div class="ui segments">
      <div class="ui horizontal segments">

        <h4 class="ui secondary segment header">Message Explanation</h4>
        <div class="ui basic right aligned segment">
          <div class="inline field">
            <div class="ui toggle checkbox">
              <input name="wMessageEx" type="checkbox" tabindex="0" class="hidden">
            </div>
          </div>
        </div>
      </div>
      <div class="ui segment">
        <div class="ui inline field">
          <label>Short Text message</label>
          <textarea name="wMEMessage" rows="2"></textarea>
        </div>
      </div>
    </div>
    <div class="ui segments">
      <div class="ui horizontal segments">

        <h4 class="ui secondary segment header">Timer</h4>
        <div class="ui basic right aligned segment">
          <div class="inline field">
            <div class="ui toggle checkbox">
              <input name="wTimer" type="checkbox" tabindex="0" class="hidden">
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3 class="ui dividing header">Manual</h3>

    <div class="ui segments">
      <div class="ui horizontal segments">

        <h4 class="ui secondary segment header">Current speed</h4>
        <div class="ui basic right aligned segment">
          <div class="inline field">
            <div class="ui toggle checkbox">
              <input name="wCSpeed" type="checkbox" tabindex="0" class="hidden">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui segments">
      <div class="ui horizontal segments">

        <h4 class="ui secondary segment header">Navigation</h4>
        <div class="ui basic right aligned segment">
          <div class="inline field">
            <div class="ui toggle checkbox">
              <input name="wNavigation" type="checkbox" tabindex="0" class="hidden">
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</template>
