<template name="controls">
  <section id="controls" class="ui form small container segment">
    <h2 class="ui header">
      <i class="dashboard icon"></i>
      <div class="content">
        Controls
        <div class="sub header">Here is the place to control the HUD</div>
      </div>
    </h2>

    <h3 class="ui dividing header">Car mode</h3>
    <div id="s-mode" class="inline field">
      <div class="ui toggle checkbox">
        <input name="autonomous" type="checkbox" tabindex="0" class="hidden">
        <label>Autonomous mode</label>
      </div>
    </div>

  </section>
</template>
