<template name="speed">
  <div id="w-speed" class="ui compact segment widget left">
    <div class="ui horizontal statistic">
      <div class="value">
        {{speed}}
      </div>
      <div class="label">
        km/h
      </div>
    </div>
  </div>

</template>
