<template name="autoAvailable">
  <div id="w-auto-available" class="ui card widget central">
    <div class="content">
      <div class="header">
        Autonomous mode available.
      </div>
      <div class="description">
        Do you want to activate the autonomous driving mode?
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <div class="ui basic green button">Activate</div>
        <div class="ui basic red button">Stay Manual</div>
      </div>
    </div>
  </div>
</template>
