<template name="streetNames">

  <div id="w-streetnames" class="ui widget">
    <i class="ui icon home"></i>
    <div>
      <h1> {{streetName}} </h1>
      <p> {{distance}} </p>
    </div>
  </div>

</template>
