<template name="mode">
  {{ #if $eq drivingMode "autonomous"}}
  {{ >autonomous }}
  {{ /if }}
  {{ #if $eq drivingMode "autoMan"}}
  {{ >automan }}
  {{ /if }}
  {{ #if $eq drivingMode "manual"}}
  {{ >manual }}
  {{ /if }}
</template>

<template name="autonomous">
  <div id="w-mode" class="ui circular green segment widget central">
    <h2 class="ui icon header">
      <i class="rocket icon"></i>
      <div class="content">
        Autonomous Mode Activated
        <div class="sub header">You can now relax!</div>
      </div>
    </h2>
  </div>
</template>

<template name="automan">
  <div id="w-mode" class="ui circular orange segment widget central">
    <h2 class="ui icon header">
      <i class="warning icon"></i>
      <div class="content">
        Take control!
        <div class="sub header">Be ready to drive again.</div>
      </div>
    </h2>
  </div>
</template>

<template name="manual">
</template>
