#dashboard{
	display: flex;
	flex-direction : column;	
}
#street-frame{
	position: relative;
	height: 30%;
	width: 50%;
	margin-left: 50%;
	background: rgba(0, 0, 0, 0.8);
	padding: 3rem;
	display: flex;
	flex-direction: column;
}
#rear-footage{
	height: 70%;
	background: rgba(0, 0, 0, 0.8);
	z-index: 0;
	width: 100%;
	overflow: hidden;
	position: relative !important;
	video, img{
		position: absolute;
		bottom: -10%;
		width: 100%;
		min-height: 100%;
	}
}