<template name="dashboard">
  <section id="dashboard">
    {{>eMirrors}}
    {{ #if wTopViewActive }}  {{>topView}}  {{ /if }}
    <!-- {{ #if wHoodViewActive }}  {{>hoodView}}  {{ /if }} -->
  </section>
</template>
