<template name="settings">
  <section id="settings" class="ui form small container segment">
    <h2 class="ui header">
      <i class="settings icon"></i>
      <div class="content">
        Settings
        <div class="sub header">Set your car as intended</div>
      </div>
    </h2>
        <h3 class="ui dividing header">Interface</h3>
        <div id="s-mode" class="inline field">
          <div class="ui toggle checkbox">
            <input name="voice" type="checkbox" tabindex="0" class="hidden">
            <label>Voice interface</label>
          </div>
        </div>
  </section>
</template>
