<template name="settings">
  <section id="settings" class="ui form small container segment">

    <h2 class="ui header">
      <i class="options layout icon"></i>
      <div class="content">
        Settings
        <div class="sub header">Here are the settings for the car.</div>
      </div>
    </h2>

    <div class="ui segments">

      <div class="ui horizontal segments">

        <h4 class="ui segment header">Voice interface</h4>
        <div class="ui basic right aligned segment">
          <div class="inline field">
            <div class="ui toggle checkbox">
              <input name="sVoiceActive" type="checkbox" tabindex="0" class="hidden">
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</template>
