<template name="header">
    <nav class="ui vertical inverted labeled icon menu">
        <a href="{{pathFor 'frontDisplay'}}" class="item">
            <i class="desktop icon"></i>
            Front Footage
        </a>
        <a href="{{pathFor 'left'}}" class="item">
            <i class="big chevron circle left icon"></i>
            left mirror
        </a>
        <a href="{{pathFor 'right'}}" class="item">
            <i class="big chevron circle right icon"></i>
            right mirror
        </a>
        <a href="{{pathFor 'dashboard'}}" class="item">
            <i class="big dashboard icon"></i>
            Dashboard
        </a>
        <a href="{{pathFor 'controls'}}" class="item">
            <i class="big options icon"></i>
            Controls
        </a>
    </nav>
</template>
